* a {
  text-decoration: none;
  color: #e0ac5d;
}
* h1,
* h2,
* h3,
* h4,
* h5 {
  margin: auto;
}
body {
  background-color: #f5f0ec;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
body button,
body #formSubmit {
  background-color: #b37518;
  color: #c7c4c4;
}
body .overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 995;
  background-color: rgba(0, 0, 0, 0.89);
}
body #thanks {
  display: none;
  position: fixed;
  width: 50%;
  margin: 5% 25%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.836);
  text-align: center;
}
body header {
  background-color: #464646;
  color: #e0ac5d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px #888888;
}
body header h5 {
  color: #e0ac5d;
}
body header ul {
  padding: 10px 20px;
  text-align: center;
  margin: 5px;
}
body header ul li {
  display: inline;
  margin: 0;
}
body header ul li a {
  display: inline-block;
  padding: 10px 20px;
}
body .container h1 {
  margin: 18px 0;
}
body .container #description {
  min-height: 30vh;
  width: 86%;
}
body .container .asterisk {
  color: red;
}
body .container li {
  text-decoration: none;
  list-style-type: none;
  list-style-position: outside;
}
body .container .hide {
  display: none;
}
body .container input,
body .container label {
  display: inline;
}
