<div id="container" class="ltr">

  <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off"
    enctype="multipart/form-data" method="post" novalidate
    action="https://example.wufoo.com/forms/q4sdx1551aef6zd/#public">

    <header id="header" class="info">
      <h2 class="0">Vacation</h2>
    </header>
    <div id="foli1" data-wufoo-field data-field-type="text" class="notranslate leftHalf     ">
      <label class="desc" id="title1" for="Field1">
        Full Name
        <span id="req_1" class="req">*</span>
      </label>
      <div>
        <input id="Field1" name="Field1" type="text" class="field text small" value="" maxlength="255" tabindex="0"
          onkeyup="" required placeholder="" />
      </div>
    </div>
    <div id="foli2" class="notranslate      ">
      <label class="desc" id="title2" for="Field2">
        Email
        <span id="req_2" class="req">*</span>
      </label>
      <div>
        <input id="Field2" name="Field2" type="email" spellcheck="false" class="field text medium" value=""
          maxlength="255" tabindex="0" placeholder="" required onchange="validateEmailAdd()" />
        <!-- added onchange="validateEmailAdd()" -->
      </div>
    </div>
    <div id="foli3" class="date notranslate      ">
      <label class="desc" id="title2">
        Start Date
        <span id="req_3" class="req">*</span>
      </label>
      <div>
        <input id="start_date" type="date" class="field text" value="" size="4" maxlength="4" tabindex="0" required=""
          data-date-format="yyyy-mm-dd" onchange="splitDate('#start_date','#Field3')">
      </div>
      <span class="date hide">
        <input id="Field3-1" name="Field3-1" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0"
          required />
        <label for="Field3-1">MM</label>
      </span>

      <span class="date hide">
        <input id="Field3-2" name="Field3-2" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0"
          required />
        <label for="Field3-2">DD</label>
      </span>

      <span class="date hide">
        <input id="Field3" name="Field3" type="text" class="field text" value="" size="4" maxlength="4" tabindex="0"
          required />
        <label for="Field3">YYYY</label>
      </span>
    </div>
    <div id="foli4" class="date notranslate      ">
      <label class="desc" id="title4">
        End Date
        <span id="req_4" class="req">*</span>
      </label>
      <div>
        <input id="end_date" type="date" class="field text" value="" size="4" maxlength="4" tabindex="0" required=""
          data-date-format="yyyy-mm-dd" onchange="splitDate('#end_date','#Field4')">
      </div>
      <span class="date hide">
        <input id="Field4-1" name="Field4-1" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0"
          required />
        <label for="Field4-1">MM</label>
      </span>

      <span class="date hide">
        <input id="Field4-2" name="Field4-2" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0"
          required />
        <label for="Field4-2">DD</label>
      </span>

      <span class="date hide">
        <input id="Field4" name="Field4" type="text" class="field text" value="" size="4" maxlength="4" tabindex="0"
          required />
        <label for="Field4">YYYY</label>
      </span>
    </div>
    <div id="foli5" class="      ">
      <label class="desc notranslate" id="title5" for="Field5">
        Vacation Type
        <span id="req_5" class="req">*</span>
      </label>
      <div>
        <select id="Field5" name="Field5" class="field select medium" tabindex="0" data-wufoo-field="dropdown">
          <option value="" selected="selected">
            <span class="notranslate"></span>
          </option>
          <option value="Vacation">
            <span class="notranslate">Vacation</span>
          </option>
          <option value="Personal Leave">
            <span class="notranslate">Personal Leave</span>
          </option>
          <option value="Sick Leave">
            <span class="notranslate">Sick Leave</span>
          </option>
          <option value="Other">
            <span class="notranslate">Others</span>
          </option>
        </select>
      </div>
    </div>
    <div id="foli7" class="notranslate      "><label class="desc" id="title10" for="Field7">
        Timeoff Notes.
      </label>

      <div>
        <textarea id="Field7" name="Field7" class="field textarea medium" spellcheck="true" rows="10" cols="50"
          tabindex="0" onkeyup="" placeholder=""></textarea>

      </div>
    </div>
    <div class="buttons ">
      <div>

        <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
      </div>
    </div>

    <div class="hide">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="C5+F#35adgn2s70pAWEjDSsCASwfaaADSFrca8IDaAS=" />
    </div>

  </form>


</div>
<!--container-->