@orange: rgb(224, 172, 93);
@lightGrey: rgb(201, 200, 200);

* {
    a {
        text-decoration: none;
        color: @orange;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: auto;
    }
}

body {
    background-color: rgb(245, 240, 236);
    font-family: 'Montserrat',
        sans-serif;
    margin: 0;

    button, #formSubmit{
        background-color: rgb(179, 117, 24);
        color:rgb(199, 196, 196);
    }

    .overlay {
        display:none;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 995;
        background-color: rgba(0, 0, 0, 0.89);
    }

    #thanks {
        display:none;
        position: fixed;
        width: 50%;
        margin: 5% 25%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.836);
        text-align: center;

    }

    header {
        background-color: rgb(70, 70, 70);
        color: @orange;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 15px;
        box-shadow: 2px 2px 5px #888888;

        h5 {
            color: @orange;
        }

        ul {
            padding: 10px 20px;
            text-align: center;
            margin: 5px;

            li {
                display: inline;
                margin: 0;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                }
            }
        }
    }

    .container {
        h1 {
            margin: 15px 0;
        }

        #description {
            min-height: 30vh;
            width: 86%;
        }

        .asterisk {
            color: red;
        }

        .captcha {
            margin: 10px 0px;
        }
    }

}