<div id="container" class="ltr">

  <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off"
      enctype="multipart/form-data" method="post" novalidate
      action="https://alvinoalvin.wufoo.com/forms/m1cep1881vqg4aj/#public">

      <header id="header" class="info">
          <h2 class="0">Vacation</h2>
      </header>
      <div id="foli8" data-wufoo-field data-field-type="text" class="notranslate leftHalf     ">
          <label class="desc" id="title8" for="Field8">
              <span id="req_8" class="req">*</span>
              Full Name
          </label>
          <div>
              <input id="Field8" name="Field8" type="text" class="field text small" value="" maxlength="255"
                  tabindex="0" onkeyup="" required placeholder="" />
          </div>
      </div>
      <div id="foli12" class="notranslate      ">
          <label class="desc" id="title12" for="Field12">
              <span id="req_12" class="req">*</span>
              Email
          </label>
          <div>
              <input id="Field12" name="Field12" type="email" spellcheck="false" class="field text medium" value=""
                  maxlength="255" tabindex="0" placeholder="" required onchange="validateEmailAdd()" />
              <!-- added onchange="validateEmailAdd()" -->
          </div>
      </div>
      <div class="dateContainer">
          <div id="foli2" class="date notranslate      ">
              <label class="desc" id="title2">
                  <span id="req_2" class="req">*</span>
                  Start Date
              </label>
              <div>
                  <input id="start_date" type="date" class="field text" value="" size="4" maxlength="4" tabindex="0"
                      required="" data-date-format="yyyy-mm-dd" onchange="splitDate('#start_date','#Field2')">
              </div>
              <span class="date hide">
                  <input id="Field2-1" name="Field2-1" type="text" class="field text" value="" size="2" maxlength="2"
                      tabindex="0" required />
                  <label for="Field2-1">MM</label>
              </span>

              <span class="date hide">
                  <input id="Field2-2" name="Field2-2" type="text" class="field text" value="" size="2" maxlength="2"
                      tabindex="0" required />
                  <label for="Field2-2">DD</label>
              </span>

              <span class="date hide">
                  <input id="Field2" name="Field2" type="text" class="field text" value="" size="4" maxlength="4"
                      tabindex="0" required />
                  <label for="Field2">YYYY</label>
              </span>
          </div>
          <div id="foli3" class="date notranslate      ">
              <label class="desc" id="title3">
                  <span id="req_3" class="req">*</span>
                  End Date
              </label>
              <div>
                  <input id="end_date" type="date" class="field text" value="" size="4" maxlength="4" tabindex="0"
                      required="" data-date-format="yyyy-mm-dd" onchange="splitDate('#end_date','#Field3')">
              </div>
              <span class="date hide">
                  <input id="Field3-1" name="Field3-1" type="text" class="field text" value="" size="2" maxlength="2"
                      tabindex="0" required />
                  <label for="Field3-1">MM</label>
              </span>

              <span class="date hide">
                  <input id="Field3-2" name="Field3-2" type="text" class="field text" value="" size="2" maxlength="2"
                      tabindex="0" required />
                  <label for="Field3-2">DD</label>
              </span>

              <span class="date hide">
                  <input id="Field3" name="Field3" type="text" class="field text" value="" size="4" maxlength="4"
                      tabindex="0" required />
                  <label for="Field3">YYYY</label>
              </span>
          </div>
      </div>
      <div id="foli6" class="      ">
          <label class="desc notranslate" id="title6" for="Field6" style="width:100%;">
              <span id="req_6" class="req">*</span>
              Vacation Type
          </label>
          <div>
              <select id="Field6" name="Field6" class="field select medium" tabindex="0" data-wufoo-field="dropdown">
                  <option value="" selected="selected">
                      <span class="notranslate"></span>
                  </option>
                  <option value="Vacation">
                      <span class="notranslate">Vacation</span>
                  </option>
                  <option value="Personal Leave">
                      <span class="notranslate">Personal Leave</span>
                  </option>
                  <option value="Sick Leave">
                      <span class="notranslate">Sick Leave</span>
                  </option>
                  <option value="Other">
                      <span class="notranslate">Others</span>
                  </option>
              </select>
          </div>
      </div>
      <div id="foli10" class="notranslate      "><label class="desc" id="title10" for="Field10">
              Vacation Notes
          </label>

          <div>
              <textarea id="Field10" name="Field10" class="field textarea medium" spellcheck="true" rows="10"
                  cols="50" tabindex="0" onkeyup="" placeholder=""></textarea>

          </div>
      </div>
      <div class="buttons ">
          <div>

              <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
          </div>
      </div>

      <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="C5+N52AzYvn2s70pHGSyRJsCTMeUrlWTh6rca8IZpCU=" />
      </div>

  </form>


</div>
<!--container-->