<div id="container">
    <form id="form2" name="form2" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://alvinoalvin.wufoo.com/forms/m1cep1881vqg4aj/#public">

        <header id="header" class="info">
            <h2 class="leftFormProp">Vacations</h2>
            <div class="0"></div>
        </header>
        <div id="foli8" data-wufoo-field="" data-field-type="text" class="notranslate leftHalf     ">
            <label class="desc" id="title8" for="Field8">
                Full Name
                <span id="req_8" class="req">*</span>
            </label>
            <div>
                <input id="Field8" name="Field8" type="text" class="field text small" value="" maxlength="255" tabindex="0" onkeyup="" required="" placeholder="">
            </div>
        </div>
        <div id="foli1" data-wufoo-field="" data-field-type="text" class="notranslate      ">
            <label class="desc" id="title1" for="Field1">
                Email
                <span id="req_1" class="req">*</span>
            </label>
            <div>
                <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="0" onkeyup="" required="" placeholder="">
            </div>
        </div>
        <div id="foli2" class="date notranslate      "></br>
            <label class="desc" id="title2">
                Start Date
                <span id="req_2" class="req">*</span>
            </label>
            <span class="date">
                <label for="Field2-1">MM</label>
                <input id="Field2-1" name="Field2-1" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0" required="">
            </span>

            <span class="date">
                <label for="Field2-2">DD</label>
                <input id="Field2-2" name="Field2-2" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0" required="">
            </span>

            <span class="date">
                <label for="Field2">YYYY</label>
                <input id="Field2" name="Field2" type="text" class="field text" value="" size="4" maxlength="4" tabindex="0" required="">
            </span>
        </div>
        <div id="foli3" class="date notranslate      "></br>
            <label class="desc" id="title3">
                End Date
                <span id="req_3" class="req">*</span>
            </label>
            <span class="date">
                <label for="Field3-1">MM</label>
                <input id="Field3-1" name="Field3-1" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0" required="">
            </span>

            <span class="date">
                <label for="Field3-2">DD</label>
                <input id="Field3-2" name="Field3-2" type="text" class="field text" value="" size="2" maxlength="2" tabindex="0" required="">
            </span>

            <span class="date">
                <label for="Field3">YYYY</label>
                <input id="Field3" name="Field3" type="text" class="field text" value="" size="4" maxlength="4" tabindex="0" required="">
            </span>
        </div>

        <div id="foli6" class="      ">
            <label class="desc notranslate" id="title6" for="Field6">
                Timeoff Type
                <span id="req_6" class="req">*</span>
            </label>
            <div>
                <select id="Field6" name="Field6" class="field select medium" tabindex="0" data-wufoo-field="dropdown">
                    <option value="" selected="selected">

                    </option>
                    <option value="Vacation">
                        Vacation
                    </option>
                    <option value="Personal Leave">
                        Personal Leave
                    </option>
                    <option value="Sick Leave">
                        Sick Leave
                    </option>
                    <option value="Others">
                        Other
                    </option>
                </select>
            </div>
        </div>
        <div id="foli10" class="notranslate      "><label class="desc" id="title10" for="Field10">
                Timeoff Notes
            </label>

            <div>
                <textarea id="Field10" name="Field10" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="0" onkeyup="" placeholder=""></textarea>

            </div>
        </div>
        <div>
            <div class="buttons ">
                <div><input id="saveForm" class="btTxt submit" name="saveForm" type="submit" value="Submit"></div>
            </div>
            <div class="hide" style="display:none;">
                <label for="comment">Do Not Fill This Out</label>
                <textarea id="comment" cols="1" name="comment" rows="1"></textarea>
                <input id="idstamp" name="idstamp" type="hidden" value="C5+N52AzYvn2s70pHGSyRJsCTMeUrlWTh6rca8IZpCU=">
            </div>
        </div>
    </form>
</div>