/* Enter Your Custom CSS Here */
#container h1 {
  margin: 18px 0;
}
#container #description {
  min-height: 30vh;
  width: 86%;
}
#container .req {
  color: red;
}
#container li {
  text-decoration: none;
  list-style-type: none;
  list-style-position: outside;
}
#container .hide {
  display: none;
}
#container input, container label {
	display: block;
}
#container label{
	margin-top:2%;
}
#container span{
		display:inline;
		white-space:nowrap;
}
#container .date {
	width:100%;
}
#container .date input{
	width:90%;
}
#container .dateContainer{
	display:grid;
	grid-template-columns:auto auto;
	/* padding:30px 0px; */
}
#container #end_date{
	float:right;
}
#container #foli3 label{
	margin-left:10%;
}
#container #Field6{
	width:45%;
}
#container .submit{
	margin-top:5%;
}
#container label{
	margin-top:15px;
	font-weight:normal;
}
 @media only screen and (max-width: 800px) {
	 .vacationImg{
		 display:none;
	 }
}

