<!-- wp:html -->
<div id="container">

    <form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off"
        enctype="multipart/form-data" method="post" novalidate
        action="https://dev1abstractivedemo.wufoo.com/forms/zzv3iqr0zjnb1b/#public">

        <header id="header" class="info">
            <h2 class="leftFormProp">Vacations</h2>
        </header>
        <div id="foli1" data-wufoo-field data-field-type="text" class="notranslate      ">
            <label class="desc" id="title1" for="Field1">
                Full Name
                <span id="req_1" class="req">*</span>
            </label>
            <div>
                <input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255"
                    tabindex="0" onkeyup="" required placeholder="" />
            </div>
        </div>
        <div id="foli7" class="notranslate      ">
            <label class="desc" id="title7" for="Field7">
                Email
                <span id="req_7" class="req">*</span>
            </label>
            <div>
                <input id="Field7" name="Field7" type="email" spellcheck="false" class="field text medium" value=""
                    maxlength="255" tabindex="0" placeholder="example@email.com" required
                    onchange="validateEmailAdd()" />
            </div>
        </div>
        <div id="foli3" class="date notranslate      "></br>

            <label class="desc" id="title3">
                Start Date
                <span id="req_3" class="req">*</span>
            </label>
            <div>
                <input id="start_date" type="date" class="field text" value="" size="4" maxlength="4"
                    tabindex="0" required=""  data-date-format="yyyy-mm-dd" onchange="splitDate('#start_date','#Field3')" >
            </div>
            <span class="date hide">
                <label for="Field3-1">MM</label>
                <input id="Field3-1" name="Field3-1" type="text" class="field text" value="" size="2" maxlength="2"
                    tabindex="0" required="">
            </span>

            <span class="date hide">
                <label for="Field3-2">DD</label>
                <input id="Field3-2" name="Field3-2" type="text" class="field text" value="" size="2" maxlength="2"
                    tabindex="0" required="">
            </span>

            <span class="date hide">
                <label for="Field3">YYYY</label>
                <input id="Field3" name="Field3" type="text" class="field text" value="" size="4" maxlength="4"
                    tabindex="0" required="">
            </span>
        </div>
        <div id="foli4" class="date notranslate      "></br>
            <label class="desc" id="title4">
                End Date
                <span id="req_4" class="req">*</span>
            </label>
            <div>
                <input id="end_date" type="date" class="field text" value="" size="4" maxlength="4"
                    tabindex="0" required=""  data-date-format="yyyy-mm-dd" onchange="splitDate('#end_date','#Field4')">
            </div>
            <span class="date hide">
                <label for="Field4-1">MM</label>
                <input id="Field4-1" name="Field4-1" type="text" class="field text" value="" size="2" maxlength="2"
                    tabindex="0" required="">
            </span>

            <span class="date hide">
                <label for="Field4-2">DD</label>
                <input id="Field4-2" name="Field4-2" type="text" class="field text" value="" size="2" maxlength="2"
                    tabindex="0" required="">
            </span>

            <span class="date hide">
                <label for="Field4">YYYY</label>
                <input id="Field4" name="Field4" type="text" class="field text" value="" size="4" maxlength="4"
                    tabindex="0" required="">
            </span>
        </div>

        <div id="foli5" class="      ">
            <label class="desc notranslate" id="title5" for="Field5">
                Timeoff Type
                <span id="req_5" class="req">*</span>
            </label>
            <div>
                <select id="Field5" name="Field5" class="field select medium" tabindex="0" data-wufoo-field="dropdown">
                    <option value="" selected="selected">

                    </option>
                    <option value="Vacation">
                        Vacation
                    </option>
                    <option value="Personal Leave">
                        Personal Leave
                    </option>
                    <option value="Sick Leave">
                        Sick Leave
                    </option>
                    <option value="Others">
                        Others
                    </option>
                </select>
            </div>
        </div>
        <div id="foli6" class="notranslate      "><label class="desc" id="title6" for="Field6">
                Timeoff Notes
            </label>

            <div>
                <textarea id="Field6" name="Field6" class="field textarea medium" spellcheck="true" rows="6" cols="50"
                    tabindex="0" onkeyup="" placeholder=""></textarea>

            </div>
        </div>
        <div>
            <div class="buttons ">
                <div><input id="saveForm" class="btTxt submit" name="saveForm" type="submit" value="Submit"></div>
            </div>
            <div class="hide" style="display:none;">
                <label for="comment">Do Not Fill This Out</label>
                <textarea id="comment" cols="1" name="comment" rows="1"></textarea>
                <input id="idstamp" name="idstamp" type="hidden" value="fTolgSonsQ9WiT8ogdOXzw3J9KlTGernTJyr3gNsYiQ=">
            </div>
        </div>
    </form>
</div>
<!-- /wp:html -->